.header {
  position: absolute;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: $black;
  gap: 10%;
  height: 10vh;
  width: 95%;
  padding-left: 19px;
  padding-right: 87px;
  font-size: 1.5rem;
  color: #FFF;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  z-index: 1;
  a {
    color: #FFF;
    text-decoration: none;
  }
  .nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
}