.error {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  h1, a {
    color: $red1;
  }
  a {
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
}