.home {
  width: 100%;
  height: 100vh;
  .home-content {
    margin-left: 224px;
    margin-top: 159px;
    .firstname {
      color: $red1;
    }
    &-body {
      display: flex;
      &-chart {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-areas: 
        "A A A"
        "B C D";
      }
    }
  }
}